*.pyc
*.py.swp
simplecv.egg-info/
build/
dist/
simplecv/simplecv
doc/_build/
simplecv/.settings.xml
simplecv/tests/TestCalibrationDistortion.xml
simplecv/tests/TestCalibrationIntrinsic.xml
simplecv/tests/temp.txt
simplecv/sampleimages/tmpimg.jpg
simplecv/sampleimages/9d4l.jpg
simplecv/utils/*
simplecv/utils/
simplecv/tests/*.pkl
*.ipynb
*.komodoproject
simplecv/sampleimages/04000_face.jpg
simplecv/sampleimages/orson_welles_face.jpg
