*.pyc
*.py.swp
simplecv.egg-info/
build/
dist/
simplecv/simplecv
doc/_build/
simplecv/.settings.xml
simplecv/data/test/StereoVision/TestCalibrationDistortion.xml
simplecv/data/test/StereoVision/TestCalibrationIntrinsic.xml
simplecv/tests/temp.txt
simplecv/data/sampleimages/tmpimg.jpg
simplecv/data/sampleimages/9d4l.jpg
simplecv/tests/*.pkl
*.ipynb
*.komodoproject
simplecv/data/sampleimages/04000_face.jpg
simplecv/data/sampleimages/orson_welles_face.jpg
